@font-face {
    font-family: "necapc3";
    src: url('fonts/necapc3.ttf');
}

@font-face {
    font-family: "pixelNes";
    src: url('fonts/pixelNes.otf');
}

html,body {
    height: 100%;
}

* {
    font-family: 'necapc3';
    cursor: url('../img/cursor.png'), auto;
   
}

body {
    font-family: 'necapc3';
    font-weight: 400;
    font-size: 12px;

    margin: 0px;
    padding: 0px;
    /*text-transform:uppercase;*/
    width: 100%;

    /*color: #70787e;*/
    background-image: url('../img/bg-img.gif');
    background-color: rgb(18, 18, 18);
    color: #888;

    cursor: url('../img/cursor.png') 30, 30, auto;

    /* -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: antialiased !important; */

    /* text-rendering: geometricPrecision; */
}

:root {
    --bgColor: rgb(18, 18, 18);
    --textPrimary: #2c9080;
    --primaryColor: #2c9080;
}


a {
    color: #36fda0;
    text-shadow: 0 0 20px;
    text-decoration: none;
}

a:hover {
    color: #eee;
    cursor: pointer;
}

#main-container {
    max-width: 768px;
    width: 546px;

    margin: auto;
}

.content {
    width: 80%;
    height: 80%;
    position: absolute;
    /*background-color: #fa0;*/
    left: 10%;
    top: 10%;
}

.value-holder {
    /*background-color: #fa0;*/
    display: inline-block;
    font-size: 200px;

    width: 220px;
    height: 220px;

    position: absolute;
    left: 50%;
    top: 50%;

    text-align: center;

    margin-left: -110px;
    margin-top: -110px;
}


.key-container {
    float: left;

    /*background-color: #eeeeee;*/
    border: solid 5px #333;

    margin: 10px;

    width: 60px;
    height: 60px;

    border-radius: 50%;

    display: table;


}

.container-text {
    display: table-cell;

    width: 100%;
    height: 100%;

    text-align: center;
    vertical-align: middle;

    color: rgba(255, 255, 255, 0.92);

    font-size: 28px;
    font-weight: 400;
}

#game-title {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 33px;
    text-align: center;
    padding: 10px;

    font-size: 24px;

    animation: pulse ease 400ms infinite;
}

#game-title .title-keys {
    color: var(--primaryColor);
    text-shadow: 0 0 50px;
    font-family: 'pixelNes';
    font-weight: 400;
}

#game-title .title-hit {
    color: var(--primaryColor);
    text-shadow: 0 0 50px;
    font-family: 'pixelNes';
    font-weight: 1000;
}

#game-score,
#game-best-score {
    color: yellow;
    text-shadow: 0 0 30px;
    width: 450px;
    margin: auto;
    font-size: 14px;
}

#score-text,
#popup-score-text {
    color: yellow;
    font-weight: 400;
}

#game-content {
    width: 450px;
    height: 382px;

    margin: auto;

    position: relative;
}

#footer {
    /*padding: 10px;*/

    display: flex;
    flex-direction: column;
    align-items: center;

}

.buttonDiv {
    margin-top: 2vh;
    display: none;

}

#preloader {

    width: 100%;
    height: 100vh;
    background: black url(../img/loading_12.gif) no-repeat center center;
    background-size: 20%;
    position: fixed;
    z-index: 100;
    text-align: center;
    display: flex;
    flex-direction: column;

    justify-content: center;


}

#preloader .text {
    margin-top: 30vh;
    font-size: 14px;
}

#preloader .text span {
    color: rgb(92, 255, 209);
    animation: flicker 3s linear infinite;
}

@keyframes flicker {

    0%,
    19%,
    22%,
    62%,
    64%,
    70%,
    100% {
        opacity: 0.99;
        text-shadow:
            -1px -1px 0 rgba(255, 255, 255, 0.4),




            0 0 2px,

            0 2px 3px #000;
    }

    20%,
    21%,
    63%,
    65%,
    69.9% {
        opacity: 0.4;
        text-shadow: none;
    }
}

.buttonDiv button {
    padding: 7px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(193, 254, 71);
    font-weight: bolder;

}

.github-link {
    margin-bottom: 10px;
}

.github-link,
.footer-text {
    text-align: center;
}

.popups {
    position: absolute;
    width: 100%;
}

.popup {
    text-align: center;
}

#start-game-popup {
    padding-top: 32%;
}

#restart-game-popup {
    padding-top: 29%;
}

#popup-over-msg {
    color: lime;
    text-shadow: 0 0 30px;
}

#restart-button {
    color: #36fda0;
    text-shadow: 0 0 30px;
}


#how-to-play-game-popup {
    padding-top: 25%;
}

.btn {
    font-family: 'necapc3';

    cursor: pointer;

    height: 30px;

    border: none;
    border-radius: 15px;

    background: #666;

    margin: 4px;
}

.btn:hover {
    background: #999;
}

.wide-btn {
    width: 140px;
}

.pop-state-btn {
    color: yellow;
    text-shadow: 0 0 30px;
}

.popups {
    display: block;
}

.popup {
    display: none;
}

.state-1 .popups {
    display: none;
}

.state-0 #start-game-popup {
    display: block;
}

.state-2 #restart-game-popup {
    display: block;
}

.state-4 #how-to-play-game-popup {
    display: block;
}

.popup-inner {
    background: rgba(28, 28, 28, 0.65);
    color: #36fda0;
    text-shadow: 0 0 30px;
    opacity: 0.9;
    padding: 10px;
}

.zoom-link {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.zoom-link:hover {
    transform: scale(1.2);
}


.how-to-play-button {
    color: yellow;
    text-shadow: 0 0 30px yellow;
    font-weight: 600;
}

#start-button {
    color: #36fda0;
    text-shadow: 0 0 30px;
    font-weight: 600;
}

@keyframes pulse {
    0% {
        opacity: .9;
        transform: skewX(.5deg);
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: .9;
    }

    75% {
        opacity: 1;
        transform: skewX(.5deg);
    }

    100% {
        opacity: .9;
    }
}